@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active{
    background: yellow;
    /* transform: scale(1.3); */
    /* padding: 5px; */
    color: black;
    border-radius: 10px;
}